---
Astro.redirect("/es");
---

<html lang="es">
    <head>
        <meta http-equiv="refresh" content="0;url=/es" />
        <title>Redirecting...</title>
    </head>
    <body>
        <p>Redirecting to the Spanish version...</p>
    </body>
</html>
