---
import Layout from "../layouts/Layout.astro";
import Experiences from "../components/Experiences.astro";
import Social from "../components/Social.astro";
---

<Layout title="Jhon Acevedo">
    <main class="px-4 lg:w-3/5 mx-auto w-full" id="home">
        
        <nav class="fixed w-full z-20 top-0 start-0 bg-[#182838]">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a class="flex items-center space-x-3 rtl:space-x-reverse"></a>
                <div class="flex lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse"> </div>
                
                <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
                    <ul class="flex flex-col p-4 lg:p-0 mt-4 font-medium border rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0">
                        <li class="px-2"><a href="#home">Inicio</a></li>
                        <li class="px-2"><a href="#experience">Experiencia</a></li>
                        <li class="px-2"><a href="#project">Proyectos</a></li>
                        <!-- <li class="px-2"><a href="#contact">Contacto</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="flex flex-col lg:items-center justify-center mx-auto h-screen lg:w-9/12 min-w-min">
            <div class="mb-4 flex items-center">
                <div class="flex-shrink-0 hidden md:block lg:block xl:block">             
                    <img src="public/img/picture.webp" alt="Profile image" class="w-40 h-40">
                </div>
                <div class="font-bold pt-1 pb-1 ml-5">
                    <img src="public/img/picture.webp" alt="Profile image" class="w-40 h-40 block md:hidden lg:hidden xl:hidden">
                    <p class="lg:text-4xl text-2xl text-white second-font pb-3">Yo soy Jhon Acevedo.</p>
                    <p class="lg:text-4xl text-2xl text-white second-font pb-3">Desarrollador Full stack</p>
                    <p class="lg:text-4xl text-2xl text-white/60 second-font">Ubicado en Colombia</p>                
                </div>
            </div>
            <div class="font-extralight text-start mt-5">
                <p class="text-start mt-5 text-pretty">
                    Apasionado desarrollador con más de 8 años de experiencia creando servicios y aplicaciones web usando tecnologias en la nube.                
                </p>
                <p class="text-white/60 text-pretty">
                    ¡Diseño y codifico cosas maravillosamente simples, y me encanta lo que hago.!
                </p>
            </div>

            <div class="flex-shrink-0 mr-auto mt-7">
                <Social/>
            </div>
        </div>

        <div class="pt-5 min-w-min lg:min-w-full mx-auto" id="experience">
            <h3 class="flex items-center mb-6 text-2xl font-semibold gap-x-3">
                <!-- <BriefCaseIcon class="size-7" /> -->
                Experiencia
            </h3>
            <Experiences />
        </div>

        <!-- <div class="pt-16">
            <h3 id="project" class="flex items-center mb-6 text-2xl font-semibold gap-x-3">
                      
                Proyectos
            </h3>
            <Projects/>
        </div> -->
        
    </main>

    <style>
        main {
            margin: auto;
            padding: 1rem;
            /* width: 800px; */
            max-width: calc(100% - 2rem);
            color: white;
            font-size: 20px;
            line-height: 1.6;
        }
    </style>
</Layout>
