---
import LinkedinIcon from "./icons/linkedin.astro";
import GithubIcon from "./icons/github.astro";
import SendIcon from "./icons/send-email.astro";
import CopyIcon from "./icons/copy.astro";
import CheckIcon from "./icons/check.astro";

let email = "contacto@jhonacevedo.com";
---

<div class="flex space-x-1">
    <div class="flex items-center space-x-0">
        <p id="emal-text" class="second-font text-sm md:text-2xl py-1 px-2 md:px-4 md:py-2 bg-white/20 text-white max-w-48 md:max-w-full truncate">{email}</p>
        <span id="copy-btn" class="inline-block bg-white/20 px-1 py-1 md:px-2 md:py-2 cursor-pointer" 
            data-copy-to-clipboard-target="npm-install-copy-button"
            data-tooltip-target="tooltip-copy-npm-install-copy-button">
            <CopyIcon id="default-icon" class="size-5 md:size-8" />
            <CheckIcon id="success-icon" class="size-5 md:size-8 text-green-500 hidden" />
            <div
                id="tooltip-copy-npm-install-copy-button"
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                <span id="default-tooltip-message">Copiar al portapapeles</span>
                <span id="success-tooltip-message" class="hidden">¡Copiado!</span>
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

        </span>
        <a href={`mailto:${email}`} target="_blank" class="inline-block bg-white/20 px-1 py-1 md:px-2 md:py-2">
            <SendIcon class="size-5 md:size-8" />
        </a>
    </div>

    <a href="https://www.linkedin.com/in/jhonvedo/" target="_blank" class="inline-block bg-white/20 px-1 py-1 md:px-2 md:py-2">
        <LinkedinIcon class="size-5 md:size-8" />
    </a> 
    <a href="https://github.com/jhonvedo" target="_blank" class="inline-block bg-white/20 px-1 py-1 md:px-2 md:py-2">
        <GithubIcon class="size-5 md:size-8" />
    </a>   
</div>

<script>
    const $btn = document.getElementById("copy-btn");

    if (!!$btn) {
        $btn.onclick = copy;       
    }

    const $defaultIcon = document.getElementById("default-icon");
    const $successIcon = document.getElementById("success-icon");

    const $defaultTooltipMessage = document.getElementById("default-tooltip-message");
    const $successTooltipMessage = document.getElementById("success-tooltip-message");

    const $emailText = document.getElementById("emal-text");

    function copy() { 
        let email = $emailText?.innerText;
        if(!!email){
            navigator.clipboard.writeText(email);
            showSuccess();
            
            setTimeout(() => {
                resetToDefault();
            }, 2000);
        }    
    }
    const showSuccess = () => {
        $defaultIcon?.classList.add("hidden");
        $successIcon?.classList.remove("hidden");
        $defaultTooltipMessage?.classList.add("hidden");
        $successTooltipMessage?.classList.remove("hidden");        
    };

    const resetToDefault = () => {
        $defaultIcon?.classList.remove("hidden");
        $successIcon?.classList.add("hidden");
        $defaultTooltipMessage?.classList.remove("hidden");
        $successTooltipMessage?.classList.add("hidden");       
    };
</script>
