---
interface Props {
	title: string;
}
import '@fontsource-variable/onest';
import '@fontsource-variable/source-code-pro';
const { title } = Astro.props;
const { lang } = Astro.params;

---

<!doctype html>
<html lang={lang} class="bg-jhon-bg">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Jhon Acevedo" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />		
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--principal-font: "Onest Variable";
		--second-font: "Source Code Pro Variable";
	}
	html {
		font-family: var(--principal-font), system-ui, sans-serif;
		background-size: 224px;
	}
	.second-font {
		font-family: var(--second-font), system-ui, sans-serif;
	}

	main {
            margin: auto;
            padding: 1rem;
            /* width: 800px; */
            max-width: calc(100% - 2rem);
            color: white;
            font-size: 20px;
            line-height: 1.6;
        }

</style>
